.complete-main-div{
    padding: 5px;
}
.complete-main-div .box-contrenar{
    width: 100%;
}
.complete-main-div .box-contrenar .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.complete-main-div .box-contrenar .auto{
    transform: translateY(100%);
}
.sp{
    position: fixed;
    top: 60px;
    width: 73%;
}
.complete-main-div .box-contrenar .sp span{
    padding: 3px;
    background-color: yellow;
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 1rem;
    width: 33%;

}
.complete-main-div .box-contrenar .box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    border: 1px solid white;
}
.complete-main-div .box-contrenar .box1 span{
    padding: 3px;
    width: 33%;
    text-align: center;
    font-size: 1rem;
}
.complete-main-div .box-contrenar .box1:hover{
    color: blue;
    border: 1px solid black;
}

@media screen and (max-width:1000px) {
    .sp{
        width: 100%;
    }
}