.complete-main-div{
    padding: 10px;
}
.complete-main-div .card{
    width: 100%;
    box-shadow: 0px 0px 15px 0.1px inset gray;
    padding: 10px;
    border-radius: 10px;
}
.complete-main-div .card .value-box{
    padding: 5px;
}
.complete-main-div .card.value-box .value-box .box{
    margin: 5px;
    display: flex;
}
.complete-main-div .card .value-box .box span{
    padding: 5px;
    font-weight: 700;
}
.complete-main-div .card img{
    height: 200px;
    width: 200px;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
